<div class="header">
<a href="">My Project</a>
<div ngbNav class="nav-tabs">
  <ul ngbNav class="nav-tabs">
  <li ngbNavItem>
    <a [routerLink]="['/dashboard']" class="home-button" ngbNavLink>Dashboard</a>
  </li>

  <li ngbNavItem>
    <a [routerLink]="['/teacher']"class="about-us-button" ngbNavLink>Teacher</a>
  </li>

  <li ngbNavItem>
    <a [routerLink]="['/students']"class="about-us-button" ngbNavLink>Student</a>
  </li>

<li ngbNavItem>
    <a [routerLink]="['/assessment']"class="about-us-button" ngbNavLink>Assessment</a>
  </li>

<li ngbNavItem>
    <a [routerLink]="['/auth/login']"class="about-us-button" ngbNavLink>Logout</a>
  </li>
</ul>
 </div>
</div>


